<% include header.html %>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-sm-9" style="background-color:#888888;height: 750px">

            <div class="col-sm-4 text-left">

                <ul>
                    <li style="margin: 30px"><img src="/images/background/tx.jpg" class="img-circle" style="width:100px"></li>
                    <li style="margin: 30px"><font size="5" color="white">姓名:余兴龙</font></li>
                    <li style="margin: 30px"><font size="5" color="white">职业:程序员</font></li>
                    <li style="margin: 30px"><font size="5" color="white">擅长:JAVA</font></li>
                    <li style="margin: 30px"><font size="5" color="white">爱好:技术狂,新技术追求者</font></li>
                    <li style="margin: 30px"><font size="5" color="white">实践才是硬道理</font></li>
                </ul>


            </div>
            <div class="col-sm-8 text-left">

                <ul>

                    <li style="margin-top: 100px"><font size="5" color="white">博客园</font></li>

                    <li style="margin: 30px"><font size="3" color="white">http://www.cnblogs.com/Baronboy/</font></li>
                </ul>

            </div>

        </div>
        <div class="col-sm-3">

            <% include right.html %>

        </div>
    </div>
</div>
<% include footer.html %>